body {
  font-family: "Segoe UI",sans-serif;
}

span {
  font-style: italic;
}

div.input textarea {
    width: 390px;
    height: 100px;
}

.middleDiv {
  text-align: center;
}

.middle {
  margin-left: auto;
  margin-right: auto;
}

div.input {
  width: 400px;
  text-align: center;
  padding-bottom: 10px;
}

div.buttons {
    text-align: center;
}

div.input input[type="button"] {
    width: 100px;
}

canvas, svg {
    border: 1px solid #000;
}